<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Quản lý học sinh
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Quản lý học sinh
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Danh sách Học sinh
                        </span>
                    </a>
                </li>
                
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Danh sách học sinh
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Table-->
        <mat-input-container>
            <input matInput placeholder="Search Student" #input>
        </mat-input-container>

        <div class="">

          <mat-table [dataSource]="dataSource"  matSort matSortActive="seqNo" matSortDirection="asc" matSortDisableClear>
           
             <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> MSHS </mat-header-cell>
              <mat-cell *matCellDef="let user"> VE{{user.student_id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="first_name">
              <mat-header-cell *matHeaderCellDef> Họ </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.first_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="last_name">
              <mat-header-cell *matHeaderCellDef> Tên </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.last_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dob">
              <mat-header-cell *matHeaderCellDef> Ngày sinh </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.dob}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gender">
              <mat-header-cell *matHeaderCellDef> Giới tính </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Tên phụ huynh </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone_1">
              <mat-header-cell *matHeaderCellDef> SĐT #1 </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.phone_1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone_2">
              <mat-header-cell *matHeaderCellDef> SĐT #2 </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.phone_2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> Email PH </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.parent_email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let row" >
                     <button mat-raised-button color="primary" (click) = "openDialog(row)">Sửa</button>
                </mat-cell>
            </ng-container> 
           

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner></mat-spinner>
            </div>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <mat-paginator [length]="count_student" [pageSize]="5"
                   [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
        </div>
        <!--end::Form-->
    </div>
    
    
</div>


